@use "../util" as *;

main {
   
    .main {
        width: 90%;
        margin: 10% auto;
        border-radius: 15px;
        background: white;


        @include breakpoint (large) {
            display: flex;
            flex-direction: row;
            width: 50%;
            margin: 10% auto;
        }

        &__image {
           
            img {
                object-fit: cover;
                max-width: 100%;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                

                @include breakpoint(large) {
                    border-bottom-left-radius: 15px;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 0;
                    margin-right: 20px;
                }

            }
        }

        &__content {
            
            @include breakpoint(large) {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        

        &__heading {
            font-weight: 700;
            margin: rem(30) 0 rem(15) 0;
            font-size: rem(11);
            color: var(--veryDarkGrayishBlue);
            text-align: left;
            padding-inline: rem(15);

            @include breakpoint(large) {
               // margin: 0 rem(10) rem(10) rem(20);
                text-align-last: left;
                padding-inline: rem(20);
                
            }
 
        }

        &__paragraph {
            font-weight: 400;
            text-align: left;
            color: var(--DeasaturatedDarkBlue);
            line-height: 1.5;
            padding-inline: rem(15);

            @include breakpoint(large) {
                //margin-left: 20px;
                text-align-last: left;
                white-space: pre-line;
                padding-inline: rem(20);
            }
        }


        &__creator {
            padding-block: rem(15);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            position: relative;
            padding-inline: rem(15);

            @include breakpoint(large) {
                padding: rem(20) rem(20) 0 rem(20);
                padding-block: 0;
            }
            
           

            &--avatar {
                position: relative;

                img {
                    vertical-align: middle;
                    max-width: 100%;
                    height: auto;
                    border-radius: 50%;
                }

            }

            &--name {
                font-weight: 300;
                color: var(--veryDarkGrayishBlue);
                padding: 10px;
                font-weight: 600;
                flex-grow: 2;

                span {
                    padding: 0;
                    opacity: 0.8;
                    font-weight: 400;
                }
            }

            &--share {
                margin: rem(10);
                text-align: center;
                padding: 3px;

                @include breakpoint(large) {
                    position: relative;
                }

                .button {
                    border: none;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    cursor: pointer;
                    position: absolute;
                    z-index: 1;
                    top: 24px;
                    bottom: 0;
                    right: 20px;
                    display: block;

                    @include breakpoint(large) {
                        top: -15px;
                        right: 0;
                    }
                    
                    img {
                        vertical-align: middle;
                        max-width: 100%;
                        height: auto;
                    }

                }  

                .top {
                    top: 33px;

                    @include breakpoint(large) {
                        top: -15px;
                    }
                }
            }

            &--popup {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: rem(10) rem(25);
                position: absolute;
                visibility: hidden;
                top: 20px;
                left: 0;
                bottom: 0;
                width: 100%;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                background: var(--veryDarkGrayishBlue);
                

                @include breakpoint(large) {
                    border-radius: rem(10);
                    height: 55px;
                    top: -72px;
                    left: 58%;
                    max-width: 58%;
                    justify-content: space-between;
                    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.10);

                    &::after {
                        content: "";
                        position: absolute;
                        width: 1.6rem;
                        height: 1.6rem;
                        bottom: -0.8rem;
                        left: 50%;
                        transform: rotate(45deg);
                        background-color: var(--veryDarkGrayishBlue);
                        box-shadow: 0px 15px 10px -3px rgba(0,0,0,0.10);
                    }
                }
                

                p {
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    padding: rem(5);
                    color: var(--grayishBlue);
                    
                    @include breakpoint(large) {
                        padding: rem(10);
                    }
                }

                ul {
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    margin-left: rem(10);
                    

                    @include breakpoint(large) {
                        margin-left: 0;
                    }

                    li {
                        padding-right: rem(15);

                        @include breakpoint(large) {
                            padding-right: rem(15);
                        }
                    }

                }
            }

            .show{
                visibility: visible;
                opacity: 1;
            }
        }
    }
}